@charset "UTF-8";

@media screen and (max-width: 850px) {
    
    div#imagem > img#retrado {
        display: block;
        width: 300px;
        height: 200px;
        background-size: 300px;
        position: absolute;
        margin-top: -109px;
        position: fixed;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.514));
        }

        .typcn:before {
            content: '\e06f';
        }
        
        .typcn {
            position: absolute;
            left: 195px;
            top: 216px;
            color: gray;
            font-size: 20px;
            cursor: pointer;
        }
        
        .typcn.active {
            color: #ff4b2b;
          }
        
        .typcn:before {
            font-family: 'typicons';
            font-style: normal;
            font-weight: normal;
            speak-as: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            height: 1em;
            font-size: 1em;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }
        
}

@media screen and (min-width: 851px) and (max-width: 992px) {
    section#login {
        width: 850px;
        
    }

    div#imagem  > img#paisagem {
        display: block;
        width: 523px;
        position: absolute;
        margin-top: -76px;

    }

    div#formulario {
        float: right;
        max-width: 50%;
        width: 90vw;
        height: 100%;
    }

    .typcn:before {
        content: '\e06f';
    }
    
    .typcn {
        position: absolute;
        left: 798px;
        top: 216px;
        color: gray;
        font-size: 20px;
        cursor: pointer;
    }
    
    .typcn.active {
        color: #ff4b2b;
      }
    
    .typcn:before {
        font-family: 'typicons';
        font-style: normal;
        font-weight: normal;
        speak-as: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        height: 1em;
        font-size: 1em;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
}

@media screen and (min-width: 992px) { 
    section#login {
    width: 850px;
    }

    div#imagem  > img#paisagem {
        display: block;
        width: 523px;
        position: absolute;
        margin-top: -76px;

    }

    div#formulario {
    float: right;
    width: 50%;
    height: 100%;
    }

    .typcn:before {
        content: '\e06f';
    }
    
    .typcn {
        position: absolute;
        left: 798px;
        top: 216px;
        color: gray;
        font-size: 20px;
        cursor: pointer;
    }
    
    .typcn.active {
        color: #ff4b2b;
      }
    
    .typcn:before {
        font-family: 'typicons';
        font-style: normal;
        font-weight: normal;
        speak-as: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        height: 1em;
        font-size: 1em;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
}